@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
  font-family: "Noto Sans Thai", sans-serif;
}

:root {
  --ifm-code-font-size: 95%;
  --ifm-code-font-family: "consolas", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

a[href^="https://www.youtube.com/"] {
  position: relative;
  padding-left: 24px;
}

a[href^="https://www.youtube.com/"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("https://wk-docs-blog.s3.ap-southeast-7.amazonaws.com/youtube-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
}